/* <----- Core Styles -----> */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: var(--mont);
    color: var(--second-text-color);
    font-size: 15px;
}
:root{
    --mont: 'Montserrat', sans-serif;
    --text-color: #252B42;
    --secondary: #F3CD03;
    --dark-bgcolor: #26335D;
    --light-gray-2: #ECECEC;
    --secondary-color-2: #FFC652;
    --danger-color: #E74040;
    --primary-color: #FF6551;
    --second-text-color: #737373;
    --primary-text-color: #FF6551;
    --muted-color: #BDBDBD;
    --secondary-color-1: #2435A1;
    --danger-text-color: #E74040;
    --disabled-element-color: #8EC2F2;
    --alert-color: #E77C40;
    --succes-color: #2DC071;
    --faded-secondary-color-1: #DDEEFE;
    --faded-secondary-color-2: #B6D7FF;
    --secondary-text-color-2: #FFC652;
    --faded-primary-color: #F9FDFF;
    --light-text-gray-2: #ECECEC;
    --secondary-text-color-1: #2435A1;
    --succes-text-color: #2DC071;
    --hover-color: #2A7CC7;
    --light-gray-1: #FAFAFA;
    --alert-text-color: #E77C40;
    --hover-text-color: #E77C40;
    --disabled-element-text-color: #8EC2F2;
    --muted-text-color: #BDBDBD;
    --light-text-gray-1: #FAFAFA;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    width: 100%;
}
.btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--mont);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.btn-solid {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    transition: .4s ease;
}
.btn-solid:hover{
    background-color: var(--hover-color);
}
.btn-outline{
    color: var(--primary-text-color);
    transition: all .5s ease;
}
.btn-outline:hover{
    color: var(--hover-text-color);
}
.text{
    margin-bottom: 55px;
    width: 50%;
}
.text-description{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.text-title{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
}
.text-info{
    line-height: 24px;
}
/* < ----- Signup Menu ----- > */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
}
.modal{
    color: var(--succes-color);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color:#fff;
    box-shadow: 5px 5px 15px 5px rgba(200, 200, 200, 0.7);
}
.signup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-gray-2);
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    z-index: 999;
    transition: all .5s ease;
}
.hidden{
    display: none;
}
.input-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.input-items input{
    font-family: var(--mont);
    outline: none;
    padding: 15px 10px;
    border-radius: 7px;
    width: 400px;
    margin: 0 auto;
}
.input-footer{
    background-color: var(--danger-color);
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}
.error{
    border: 2px solid var(--danger-color);
}
.success{
    border: 2px solid green;
}
.signup .btn.btn-solid{
    margin-top: 20px;
}
/* < ----- Signup Menu ----- > */
/* < ----- Main Section ----- > */

.main {
    background: url(./img/header-img.jpg) #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


/* < ----- Header Section ----- > */

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.navigation-item__link {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    transition: all .4s ease;
}
.navigation-item__link:hover{
    color: var(--hover-text-color);
}
.navigation-signup {
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu{
    display: none;
}
.close{
    display: none;
}
.signup-link {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    transition: all .4s ease;
}
.signup-link:hover{
    color: var(--hover-color);
}
.btn i{
    font-size: 22px;
}
.uppercase{
    text-transform: uppercase;
}

/* < ----- Header Section ----- > */

/* < ----- Home Section ----- > */
.home {
    padding: 50px 0;
}

.home-description {
    color: var(--primary-color);
    font-size: 16px;
}
.home-title {
    color: var(--text-color);
    font-size: 50px;
    line-height: 70px;
    margin: 30px 0;
}
.home-info {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 500;
}
.home-btn{
    padding: 15px 40px;
}
/* < ----- Home Section ----- > */

/* < ----- Main Section ----- > */

/* < ----- About Section ----- > */
.about{
    padding: 50px 0;
}

.about-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.about-card {
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 30px;
}
.about-card__icon {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: var(--faded-secondary-color-2);
    font-size: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-card__title {
    font-size: 22px;
    color: var(--text-color);
    margin: 10px 0;
}
.about-danger__span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);
}
.about-card__info {
    font-size: 14px;
    color: var(--second-text-color);
    font-weight: 500;
    margin-top: 10px;
}
/* < ----- About Section ----- > */

/* < ----- Pricing Section ----- > */
.pricing {
    padding: 50px 0;
}

.pricing-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.pricing-img {
    flex: 1;
}
.pricing-content {
    flex: 1;
}
.pricing-content__title {
    color: var(--text-color);
    font-size: 24px; 
    font-weight: 700;
    line-height: 32px;
}
.pricing-content__info {
    line-height: 24px;
}
.pricing-content__flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px 0;
}
.pricing-content__number {
    background-color: var(--light-gray-2);
    color: var(--danger-text-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-item__title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.pricing-item__info {
    line-height: 20px;
}
/* < ----- Pricing Section ----- > */

/* < ----- Network Section ----- > */
.network{
    padding: 50px 0;
}
.network-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.network-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.network-content__span {
    display: inline-block;
    width: 90px;
    height: 7px;
    background-color: var(--danger-color);
}
.network-content__title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 35px;
}
.network-content__info {
    width: 65%;
}
.network-img {
    flex: 1;
}
/* < ----- Network Section ----- > */

/* < ----- Product Section ----- > */
.product{
    padding: 50px 0;
}
.product-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.product-card__item{
    display: flex;
    flex-direction: column;
}

.product-card__img {
    position: relative;
}
.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--danger-color);
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
}
.product-card__img img{
    object-fit: cover;
    height: 300px;
    border-radius: 3px;
}
.product-card__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.product-card__icon {
    background-color: #fff;
    color: #000;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.product-card__icon:hover {
    color: var(--danger-color);
}
.product-card__content {
    padding: 15px;
    
}
.product-card__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card__name {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
}
.product-card__reyting {
    background-color: var(--dark-bgcolor);
    padding: 4px 8px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.product-card__reyting .bxs-star {
    color: #ffce31;
}
.product-card__description {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.product-card__info {
    font-size: 14px;
    line-height: 20px;
    margin: 14px 0;
}
.product-card__down {
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
}
.product-card__down:hover{
    color: var(--hover-text-color);
}

.product-card__price {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 14px 0;
}
.price__item-2 {
    color: var(--secondary-color-1);
}
.btn-outline.btn-border {
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 10px 20px;
    transition: all .5s ease;
}
.btn-outline.btn-border:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
}
/* < ----- Product Section */

/* < ----- Expert Section ----- > */
.expert {
    padding: 50px 0;
    background-color: var(--dark-bgcolor);
}
.text-white {
    color: #fff;
}
.expert-cards__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.expert-card__item {
    background-color: #fff;
    padding: 25px;
}
.relative-element{
    position: relative;
}
.relative-element:before{
    position: absolute;
    top: -27px;
    right: -27px;
    content: "New";
    background-color: var(--alert-color);
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item__heart {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item__free {
    color: var(--text-color);
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin: 20px 0;
}
.card-item__info {
    font-weight: 500;
    line-height: 24px;
}
.card-item__price {
    color: var(--primary-text-color);
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 20px;
}
.card-item__date {
    color: var(--disabled-element-color);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-solid.btn-full {
    width: 100%;
    padding: 15px 35%;
    margin: 20px 0;
}

.card-item__check {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
}
.bxs-check-circle {
    font-size: 30px;
}
.checked {
    color: var(--succes-color);
}

/* < ----- Expert Section ----- > */

/* < ----- Education Section ---- > */
.education{
    padding: 50px 0;
}
.education-card__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
}
.education-card__item {
    padding: 40px;

}
.education-item__star {
    color: #F3CD03;
    font-size: 22px;
}
.education-item__info {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 20px 0;
}
.education-item__expert {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.education-expert__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.expert-name {
    color: var(--primary-text-color);
    font-weight: 600;
}
.expert-job {
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
}
/* < ----- Education Section ----- > */

/* < ----- Contact Section ----- > */
.contact{
    padding: 50px 0;
    text-align: center;
}
.contact .text{
    text-align: center;
    width: 100%;
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form .contact-input{
    padding: 15px;
    font-family: var(--mont);
    border-radius: 2px;
    width: 100%;
    max-width: 600px;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    border: 1px solid #E6E6E6;
}
.contact-form .btn.btn-solid{
    outline: none;
    font-family: var(--mont);
}
/* < ----- Contact Section ----- > */

/* < ----- Footer Section ----- > */
.footer {
    padding-top: 50px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-grid__item {
    font-weight: 600;
    line-height: 24px;
}
.footer-grid__title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
}
.footer-grid__info {
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.footer-grid__info:hover{
    color: var(--hover-text-color);
}
.footer-grid__info .bx {
    font-size: 30px;
    color: var(--danger-text-color);
}

.footer-bottom {
    background-color: var(--faded-secondary-color-1);
    margin-top: 15px;
}
.footer-bottom__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.footer-bottom__info {
    font-weight: 600;
}
.footer-bottom__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-bottom__icons i{
    color: var(--danger-text-color);
    font-size: 30px;
    cursor: pointer;
    transition: all .5s ease;
}
.footer-bottom__icons i:hover{
    color: var(--hover-color);
}
/* < ----- Footer Section ----- > */

/* < ----- Media Query ----- > */
@media screen and (max-width: 900px){
    .product-card__wrapper{
        flex-direction: column;
    }
    .product-card__item{
        justify-content: space-between;
        flex-direction: inherit;
    }
    .expert-cards__wrapper{
        flex-direction: column;
    }
    .education-card__wrapper{
        flex-direction: column;
    }
    .education-item__expert{
        justify-content: center;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 800px) {
    body{
        font-size: 14px;
    }
    .text{
        width: 100%;
    }
    .text-title{
        font-size: 30px;
    }
    .navigation{
        display: none;
    }
    .header.active{
        position: fixed;
        padding: 80px 20px;
        z-index: 888;
        position: fixed;
        background-color: var(--light-gray-1);
        top: 0;
        right: 0px;
        max-width: 400px;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        transition: all 0.5s ease;
        padding-top: 0px;
    }
    .header.active  .navigation,
    .header.active .navigation-signup{
        display: block;
    }
    .header.active .navigation{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .header.active .navigation-signup{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }
    .header.active .menu{
        display: none;
    }
    .header.active .close{
        display: block;
        color: var(--danger-color);
        cursor: pointer;
        font-size: 35px;
        position: absolute;
        right: 25px;
        top: 20px;
    }
    .menu{
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: var(--danger-color);
    }
    .home{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .navigation-signup{
        display: none;
    }
    .about-card__title{
        font-size: 20px;
    }
    .pricing-wrapper{
        flex-direction: column;
    }
    .network-content__title{
        font-size: 30px;
    }
}
@media  screen and (max-width: 700px) {
    .container{
        width: 85%;
    }
    .about-cards{
        flex-direction: column;
    }
    .network-wrapper{
        flex-direction: column;
    }
    .network-content__info{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .home-title{
        font-size: 40px;
        line-height: 60px;
    }
    .contact-form{
        flex-direction: column;
        gap: 20px;
    }
    .footer-grid{
        grid-template-columns: auto;
        text-align: center;
    }
    .footer-grid__info{
        justify-content: center;
    }
    .footer-bottom__flex{
        flex-direction: column;
        gap: 15px;
    }
    .pricing-content__flex{
        gap: 5px;
    }
    .relative-element::before{
        width: 50px;
        height: 50px;
        font-size: 20px;
        right: 40px;
    }
}

/* < ----- Media Query ----- > */